/* Reset & Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-headings: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-base: var(--font-headings);
    --primary-color: #043249;
    --secondary-color: #4A4A4A;
    --hover-bg: #FAFAFA;
    --hover-color: #485fc7;

    --slow-transition-duration: 1s; 
    --fast-transition-duration: 0.3s;
    --transition-property: background-color, color; 
}

html {
    font-size: 17px;
    /* padding-top: 60px; */
    font-weight: 400;
}


/* Header */
header {
    font-family: var(--font-headings);
    background-color: white;
    color: var(--primary-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-weight: 600;
    letter-spacing: 0.01rem;
    line-height: 1;
    text-transform: uppercase;
}

/* Navbar */
.navbar {
    margin: 0 auto;
    width: 100%;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.25rem;
    max-height: 55.25px;
    width: 100%;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar li {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: var(--primary-color);
}


/* Branding */
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    position: relative;
}

.navbar-right {
    display: flex;
    align-items: center;
}

/* Menu */
.menu {
    display: flex;
    list-style: none;
}

.menu li {
    flex-grow: 1;
    display: flex;
}

/* Hamburger Menu */
.hamburger-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.hamburger-container:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 40px;
}

.bar {
    background-color: white;
    display: block;
    height: 1px;
    width: 16px;
    transition: all 86ms ease-out;
}

/* Active State (X Transition) */
.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 5px;
    line-height: 1.5;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 0.75rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.dropdown-menu a:hover,
.dropdown-menu a.active {
    background-color: var(--hover-bg);
    color: var(--hover-color);
    border-radius: 5px;
}

.show-dropdown {
    display: block;
}


body {
    font-family: var(--font-base);
    font-weight: 400;
    
}

/* Main Content */
.hero-body {
    background: url("/images/hero_images/moonrock_lagoon.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    opacity: 10%;
}

.hero-title {
    color: white;
}
