---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSection from "../../components/HeroSection.astro";
import TeamMember from "../../components/teamcomponents/TeamMember";
---

<BaseLayout
  title="Our Team | NUS Seafarers"
  description="Meet the people behind the voyages."
>
  <HeroSection
    title="Meet the Crew"
    subtitle="The people who chart the course, guide the sails, and shape the spirit of our journeys."
    path="about"
  />

  <section class="w-full px-6 sm:px-12 md:px-32 pb-24">
    <div class="text-4xl md:text-5xl lg:text-6xl pb-12 mb-12">Our Team</div>

    <div class="max-w-screen-xl mx-auto">
      <div
        class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-16 place-items-center"
      >
        <!-- Team Member 1 -->
        <TeamMember
          name="Yan Jia"
          role="President"
          image="/images/team/yan_jia_profile.JPG"
          bio="Reconnect with the ocean, stories of the past, and one another!"
        />

        <TeamMember
          name="Sharlyn"
          role="Vice-President (Internal)"
          image="/images/team/nigel_profile.jpg"
          bio="Loves the sea and building cool things for the Seafarers community."
        />

        <TeamMember
          name="Hannah"
          role="Vice-President (External)"
          image="/images/team/nigel_profile.jpg"
          bio="Loves the sea and building cool things for the Seafarers community."
        />

        <TeamMember
          name="Carren"
          role="Director of External Relations"
          image="/images/team/nigel_profile.jpg"
          bio="Loves the sea and building cool things for the Seafarers community."
        />

        <TeamMember
          name="Koji"
          role="Events Manager"
          image="/images/team/nigel_profile.jpg"
          bio="Loves the sea and building cool things for the Seafarers community."
        />

        <TeamMember
          name="Syam"
          role="Treasurer"
          image="/images/team/nigel_profile.jpg"
          bio="Loves the sea and building cool things for the Seafarers community."
        />

        <TeamMember
          name="Yu Quan"
          role="Marketing Director"
          image="/images/team/yu_qian_profile.JPG"
          bio="Passionate about nature, art, and life — designing meaningful merch that inspires and connects."
        />

        <TeamMember
          name="Nigel"
          role="Website Developer"
          image="/images/team/nigel_profile.jpg"
          bio="Loves the sea and building cool things for the Seafarers community."
        />

        <!-- Add more team members below as needed -->
      </div>
    </div>
  </section>
</BaseLayout>
