---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MasonryGrid from "../../components/gallery/MasonryGrid.astro";
import { voyageImages } from "../../data/voyageImages";
import HeroSection from "../../components/HeroSection.astro";
---

<BaseLayout
	title="Gallery | NUS Seafarers"
	description="Showcasing our Travels"
>
	<HeroSection
		title="Gallery."
		subtitle="Showcasing our travels across Southeast Asia."
		path="blog"
	/>
	<div class="min-h-[90vh] px-4 md:px-12">
		<MasonryGrid images={voyageImages} />
	</div>
</BaseLayout>
