---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MasonryGrid from "../../components/gallery/MasonryGrid.astro";
import { voyageImages } from "../../data/voyageImages";
import HeroSection from "../../components/HeroSection.astro";
---

<BaseLayout
	title="Gallery | NUS Seafarers"
	description="Showcasing our Travels"
>
	<HeroSection
		title="Gallery."
		subtitle="Showcasing our travels across Southeast Asia."
		path="blog"
	/>
	<section class="w-full px-6 sm:px-12 md:px-32 pb-40">
		<MasonryGrid images={voyageImages} />
	</section>
</BaseLayout>
