---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSection from "../../components/HeroSection.astro";
---

<BaseLayout title="Blog | NUS Seafarers" description="Showcasing our Travels">
	<HeroSection
		title="Voyages across Southeast Asia."
		subtitle="Stories of adventure, discovery, and cultural exchange from our regional travels."
		path="voyages"
	/>
	<section class="w-full px-6 sm:px-12 md:px-32 pb-24">
		<div class="text-3xl md:text-4xl lg:text-5xl pb-8">Latest Voyages</div>
		<div class="flex justify-between items-center mb-8">
			<div class="flex items-center gap-2 text-sm text-neutral-700">
				<span class="w-2 h-2 rounded-full bg-neutral-900"></span>
				<span class="font-medium">Voyages</span>
			</div>
		</div>
	</section>
</BaseLayout>
