<style>
    .footer {
    	background-color: #003D7C;
        color: white;
        margin-top: auto;
    }

    .seafarers-logo {
        object-fit: contain;
        float: right;
    }
</style>


<footer class="footer">
    <div class="container">
        <div class="columns is-multiline is-mobile is-centered">
            <div class="column is-5-desktop  is-5-tablet is-5-mobile">
                <img class="seafarers-logo" src="/images/misc/logo_white.png" width="128" height="128" />
            </div>
            <div class="column is-6-desktop is-6-tablet is-6-mobile content">
                <br>
                <span style="font-size: 32px;"><span style="color: #EF7C00;">NUS</span> Seafarers</span>
                <br>
                <div>
                    <a href="https://www.facebook.com/nusseafarers/" target="_blank" rel="noopener noreferrer"><img alt="" src="https://www.comp.nus.edu.sg/images/resources/icons/facebook.png" width="32" height="32" title="Facebook" /></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/nus.seafarers/" target="_blank" rel="noopener noreferrer"><img alt="" src="https://www.comp.nus.edu.sg/images/resources/icons/instagram.png" width="32" height="32" title="Instagram" /></a>&nbsp;&nbsp;
                    <a href="https://www.youtube.com/@nusseafarers4547" target="_blank" rel="noopener noreferrer"><img alt="" src="https://www.comp.nus.edu.sg/images/resources/icons/YouTube-icon.png" width="32" height="32" title="YouTube" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="content is-small has-text-centered">
            Copyright &copy; 2023, NUS Seafarers. All Rights Reserved.
        <div>
    </div>
</footer>
