---
// src/components/BlogSection.astro
interface Props {
  title: string;
  href: string;
  description: string;
}

const { title, href, description } = Astro.props;
---

<a
  href={href}
  class="block group transition hover:bg-blue-50 rounded-xl px-6 py-8"
>
  <div class="flex flex-col md:flex-row md:items-start md:justify-between gap-6">
    <h3 class="text-2xl font-medium text-neutral-900 min-w-[8rem] group-hover:underline">
      {title}
    </h3>
    <p class="text-2xl font-normal text-neutral-700 max-w-2xl group-hover:underline">
      {description}
    </p>
  </div>
</a>
