---
---
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

$primary: #003D7C;
$background: #E5E4E2;
$family-primary: 'Lato', 'Montserrat', sans-serif;
$body-size: 17px;
$family-code: consolas;
// Import Main CSS file from theme
@import "main";

.hero {
    .title,
    .subtitle {
        text-shadow: 1px 1px rgba($primary, 0.5);
        animation: appear 1s;
    }
}

div.highlight {
    margin-bottom: 1rem;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}