---
// components/YouTubePreview.astro
interface Props {
  videoId: string;
}

const { videoId } = Astro.props;
---

<figure class="w-full max-w-4xl mx-auto mt-12">
  <div class="relative w-full pb-[56.25%] overflow-hidden shadow-lg">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src={`https://www.youtube.com/embed/${videoId}?start=0&showinfo=0`}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</figure>
