---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSection from "../../../components/HeroSection.astro";
import BlogCard from "../../../components/blogcomponents/BlogCard";
import { getCollection } from 'astro:content';

const sailing = (await getCollection('sailing')).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

---

<BaseLayout title="Sailing | NUS Seafarers" description="In Our Element!">
  <HeroSection
    title="Sailing with purpose."
    subtitle="Reflections from our time at sea, from calm waters to stormy horizons."
    path="sailing"
  />

  <section class="w-full px-6 sm:px-12 md:px-32 pb-24">
    <div class="text-3xl md:text-4xl lg:text-5xl pb-8">Latest Sailing Opportunities</div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      {sailing.map((post) => (
        <BlogCard
          slug={`sailing/${post.slug}`}
          thumbnail={post.data.coverImage ?? "/fallback.jpg"}
          title={post.data.title}
          summary={post.data.description}
        />
      ))}
    </div>
  </section>
</BaseLayout>
