---
layout: default
---

<style>
figure.blog_figure {
  max-width: 800px;
  margin: 0 auto; 
  float: none; 
}

figcaption {
  color: gray;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

</style>

<div style="max-width: 1200px; margin-left: auto; margin-right: auto;">
    <p style="text-align: right; color: #003D7C; font-weight: bold;">
        Published
        on {{ page.date | date: "%b %-d, %Y" }} 
        by {{ page.author }}
        {% if page.source_link %}
            (<a href="{{ page.source_link }}">Source</a>)
        {% endif %}
    </p>
    <br>
    {% if page.toc %}
        {% assign contentsTitle = page.toc_title | default: 'Contents' %}
        {% include toc.html html=content class='menu-list' node='' contents_title=contentsTitle %}
    {% endif %}
    <br>
</div>
    
<div class="content" style="max-width: 1200px; margin-left: auto; margin-right: auto;">
    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}

{% if page.series %}
    {% include series.html %}
{% endif %}